DAGSHUB_REPO=your-repo
DAGSHUB_USER=your-username
DAGSHUB_TOKEN=your-token
MLFLOW_TRACKING_URI=https://dagshub.com/your-username/your-repo.mlflow
MLFLOW_TRACKING_USERNAME=your-username
MLFLOW_TRACKING_PASSWORD=your-token
MLFLOW_EXPERIMENT_NAME=your-repo
MLFLOW_MODEL_ARTIFACT_PATH=your-artifact-name